:root {
  --primary-color: red;
}

/*  
   ========================================================================= 
   =                         KEVIN POWELL CSS RESET                        =   
   =========================================================================  
   */

/*  Source: https://www.youtube.com/shorts/2lyDv0wOQuQ */

/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
* {
  margin: 0;
  padding: 0;
}

/* dark mode user-agent-styles */
/* html {
 color-scheme: dark light;
  } */

body {
  min-height: 100vh;
  background: #eee;
}

html {
  font-family: var(--dawntreader-header);
  font-size: 1.125rem;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

button,
select {
  font-size: inherit;
}

/*  
   ========================================================================= 
   =                          BASIC STYLING BY ME                          =   
   =========================================================================  
   */

h3 {
  margin: 0.5em auto;
  font-family: Times New Roman, serif;
  font-size: 1.5em;
  line-height: 1;
  font-variant: small-caps;
  color: #d4b87b;
  text-shadow: 0 2px 2px black;
}

p {
  line-height: 1.5;
}

/*  
   ========================================================================= 
   =                            ADMIN DASHBOARD                            =   
   =========================================================================  
   */

.wrapper {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  grid-template-rows: repeat(4, 1fr);
  height: 100vh;
  border: 2px solid black;
}

.sidebar {
  grid-row: 1/5;
  border: 2px solid black;
  color: white;
  background-color: rgb(36, 150, 226);
  padding-left: 1rem;

  & article {
    display: grid;
    gap: 2.5rem;
  }

  & header {
    margin-top: 1rem;
  }

  & :is(li, header) {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-weight: bold;
  }

  & :is(li):not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

.sidebar-info :is(a, li) {
  text-decoration: none;
  list-style-type: none;
  color: white;
}

.nav-bar {
  border: 2px solid black;
}

.main-content {
  grid-column: 2;
  grid-row: 2/5;
  border: 2px solid black;
}

#material-icons span {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

span#dashboard-icon {
  font-size: 2rem;
}
