:root {
  --primary-color: rgb(36, 150, 226);
}

/*  
   ========================================================================= 
   =                         KEVIN POWELL CSS RESET                        =   
   =========================================================================  
   */

/*  Source: https://www.youtube.com/shorts/2lyDv0wOQuQ */

/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
* {
  margin: 0;
  padding: 0;
}

/* dark mode user-agent-styles */
/* html {
 color-scheme: dark light;
  } */

body {
  min-height: 100vh;
  background: #eee;
}

html {
  font-family: var(--dawntreader-header);
  font-size: 1.125rem;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

button,
select,
input {
  font-size: inherit;
}

/*  
   ========================================================================= 
   =                          BASIC STYLING BY ME                          =   
   =========================================================================  
   */

p {
  line-height: 1.5;
}

/*  
   ========================================================================= 
   =                            ADMIN DASHBOARD                            =   
   =========================================================================  
   */

.wrapper {
  display: grid;
  grid-template-columns: 0.3fr 1.7fr;
  grid-template-rows: 0.3fr 1.7fr;
  height: 100vh;
  border: 2px solid black;
}

.sidebar {
  grid-row: 1/3;
  border: 2px solid black;
  color: white;
  background-color: var(--primary-color);
}

.sidebar-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sidebar-info :is(li, header) {
  display: flex;
  align-items: center;
}

.sidebar-info a {
  text-decoration: none;
  list-style-type: none;
  color: white;
}

.nav-bar {
  border: 2px solid black;
}

.current-user img,
.current-user-greeting img {
  border-radius: 50%;
}

.nav-bar > article {
  display: flex;
  align-items: center;
}

.search-bar {
  flex: 70%;
}

.current-user {
  flex: 30%;
}

.search-bar,
.current-user,
.current-user-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.current-user {
  gap: 2rem;
}

.current-user-greeting {
  display: flex;
  flex: 60%;
  align-items: center;
  gap: 1rem;
}

.current-user-buttons {
  flex: 40%;
  gap: 2rem;
}

.current-user-buttons button {
  padding: 10px 32px;
  border-radius: 20px;
  border: none;
  color: white;
  background-color: var(--primary-color);
}

input[type='search'] {
  max-width: 80%;
  width: 100%;
  border-radius: 1rem;
  border: none;
  background-color: rgb(219, 219, 219);
  padding: 0.3rem;
}

.main-content {
  grid-column: 2;
  border: 2px solid black;

  display: grid;
  grid-template-columns: 70% 30%;
}

.main-content h2 {
  padding: 1rem 0;
}

.your-projects {
  display: grid;
  grid-template-rows: 0fr 1fr;
}

.user-current-projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  gap: 2rem;
  /* padding: 2rem; */
}

.user-current-projects > div {
  border: 2px solid black;
}

.main-content-sidebar {
  display: grid;
}

/* .wrapper {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  grid-template-rows: repeat(2, 1fr);
  height: 100vh;
  border: 2px solid black;
}

.sidebar {
  grid-row: 1/3;
  border: 2px solid black;
  color: white;
  background-color: var(--primary-color);
  padding-left: 1rem;
  padding-top: 1rem;

  & :is(li, header) {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: bold;
  }

  & header {
    gap: 0.5rem;
  }

  & :is(li):not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

.sidebar-info {
  & > *:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  & :is(a, li) {
    text-decoration: none;
    list-style-type: none;
    color: white;
  }
}

.nav-bar {
  border: 2px solid black;
  display: grid; 
  grid-template-rows: 1fr 1fr;
  padding: 12px 50px;
}

.current-user img,
.current-user-greeting img {
  border-radius: 50%;
}

.nav-bar > article {
  display: grid;
  grid-template-columns: 3.5fr 1fr;
  align-items: center;
}

.search-bar,
.current-user,
.current-user-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.current-user {
  gap: 2rem;
}

.current-user-greeting {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.current-user-buttons {
  gap: 2rem;

  & button {
    padding: 10px 32px;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: var(--primary-color);
  }
}

input[type='search'] {
  max-width: 80%;
  width: 100%;
  border-radius: 1rem;
  border: none;
  background-color: rgb(219, 219, 219);
  padding: 0.3rem 0.6rem;
} */

/* .main-content {
  grid-row: 2/3;
  padding: 1.5rem 1rem;
  border: 2px solid black;
  background-color: rgb(217, 225, 228);

  display: grid;
  grid-template-columns: 2fr 0.5fr;
  grid-template-rows: 0fr 1fr;
} */

/* .projects {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);

  & div {
    background-color: #eee;
    border-radius: 16px;
    margin: 10px;
  }
}

.user-news {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.user-announcements {
  background-color: #eee;
  padding: 1rem;
  border-radius: 16px;

  & hr {
    margin: 1rem 0;
  }
}

.user-announcements,
.user-trending {
  height: 100%;
}

.user-trending > div {
  background-color: #eee;
  padding: 1rem;
  border-radius: 16px;
} */

#material-icons span {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

span#dashboard-icon {
  font-size: 2rem;
}
